<body>
    <form class="card" [formGroup]="form">
        <div class="card-content">
            <h2 class="card-title">Увійти</h2>
            <div class="input-field">
                <label [for]="userProperty.EMAIL">Імейл:</label><br>
                <input [placeholder]="'імейл' | titlecase" [formControlName]="userProperty.EMAIL"
                    [id]="userProperty.EMAIL" [type]="userProperty.EMAIL"><br>
                <span class="red-text"
                    *ngIf="form.get(userProperty.EMAIL)?.invalid && form.get(userProperty.EMAIL)?.touched">
                    Перевірьте імейл!
                </span>
            </div>
            <div class="input-field">
                <label [for]="userProperty.PASSWORD">Password:</label><br>
                <input [placeholder]="'пароль' | titlecase" [formControlName]="userProperty.PASSWORD"
                    [id]="userProperty.PASSWORD" [type]="userProperty.PASSWORD"><br>

            </div>
        </div>
        <div class="card-action"><br>
            <button type="button" (click)="onSubmit()" class="modal-action">Увійті</button>
          <br>
          <br>
            <div style="display:flex; justify-content: center; ">
             <div>
               <a routerLink="/sign-up" routerLinkActive="active"> зарееструватись</a>
             </div>
            </div>
            <br>
            <span class="red-text" *ngIf="error">Такого користувача немаэ</span>
            <span class="red-text" *ngIf="errorPassword">Пароль невірний</span>
        </div>
    </form>
</body>
