<h1 mat-dialog-title>Залиште Ваші контакти</h1>
<div mat-dialog-content>
  <p>Введіть ім'я</p>
  <mat-form-field>
    <mat-label>ім'я</mat-label>
    <input style="border:  0" matInput [(ngModel)]="data.name">
  </mat-form-field>
  <p>Введіть номер телефона</p>
  <mat-form-field>
    <mat-label>телефон</mat-label>
    <input style="border:  0" matInput [(ngModel)]="data.phone">
  </mat-form-field>
</div>
<p *ngIf="error" style="color: red; font-size: 10px">* всі поля повинні бути заповнені</p>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Відмінити</button>
  <button (click)="submit()" mat-button cdkFocusInitial>Відправити</button>
</div>
