<section class="section games">
  <div class="container">
    <h2 class="section-title">Новини</h2>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i><strong>Остання миля: як правильно вибраний склад скорочує витрати на доставку</strong></i>
          </mat-panel-title>
          <mat-panel-description>
            Представьте, что после работы вы едете домой на ма...
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><i>Что такое доставка последней мили?</i>
          <br>
          <br>
          Представьте, что после работы вы едете домой на машине. Автомобиль нужно оставить на стоянке. Сначала вы
          заезжаете туда, а дальше придется добираться домой самостоятельно. Проблема в том, что автостоянка находится
          далеко от места проживания. Дома вас ждет семья, поэтому важно дойти до конечной точки ровно к 20:00. Вы
          можете спланировать короткий маршрут, ездить на велосипеде или взять такси. Но в каждом из случаев вы
          рассчитываете время и деньги. Момент, когда вы добираетесь домой со стоянки — и есть последняя миля (Last
          Mile).
          <img src="assets/images/last_mile.jpg" alt="">
          Товар проходит огромный путь перед тем, как попасть в руки потребителю: его изготовляют, закупают, хранят,
          комплектуют, упаковывают транспортируют. Последняя миля в логистике — это конечное звено в цепочке поставок.
          Этап начинается с момента загрузки заказа в транспортное средство и заканчивается доставкой покупателю. С Last
          Mile сталкиваются в основном интернет-магазины. В ритейле товары доставляют на точку реализации, покупатель
          несет покупки домой сам.

          Amazon продемонстрировала, как последняя миля влияет на качество клиентского сервиса. Компания доставляет
          заказы в тот же день и тестирует дронов, чтобы увеличить скорость. Это один из секретов успеха Amazon.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong><i>Как выглядит рынок складской недвижимости и услуг, — предновогодняя аналитика Warehouse-klets</i></strong>
          </mat-panel-title>
          <mat-panel-description>
            В этом разделе мы проанализировали спрос на скл...
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          <strong>Как выглядит спрос на складскую недвижимость в 2021 году</strong>

          В этом разделе мы проанализировали спрос на складские помещения, которые были самыми популярными в этом году.
          Также мы изучили, склады каких классов были востребованы в крупных городах Украины, и сравнили арендные ставки
          на складскую недвижимость разных типов.

          <strong>Какой класс складской недвижимости лидирует по спросу в Украине?</strong>
          В 2021 году “рекордсменами” по спросу стали склады класса B — 51% клиентов выбрали именно эти объекты. Это
          можно объяснить тем, что помещения этого класса совмещают в себе две важные характеристики: соответствуют
          современным требованиям складской логистики, а их стоимость зачастую меньше аналогичных предложений класса A.
          Второе место заняли помещения класса C — 36% предпочли их. Складская недвижимость высшего класса A
          пользовалась спросом у 13% наших клиентов.
          <img src="/assets/images/map.png" alt="">
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
