<div class="header-container">
  <img src="../../assets/steam-logo.svg" alt="steam-logo" class="logo" routerLink="/games" (click)="goToGamesPage()">
  <div class="header" *ngIf="!isAuth">
    <p>Welcome to Steam!</p>
    <button class="login-btn" (click)="logIn()">LogIn</button>
  </div>
  <div class="header" *ngIf="isAuth">
    <nav class="navigation">
      <a routerLink="/games" (click)="addClass($event)" [ngClass]="games ? 'active': ''">Games</a>
      <a routerLink="/library" (click)="addClass($event)">Library</a>
      <a routerLink="/friends" (click)="addClass($event)">Friends</a>
      <a routerLink="/profile" (click)="addClass($event)" [ngClass]="profile ? 'active': ''">Profile</a>
    </nav>
    <button class="logout-btn" (click)="logOut()">LogOut</button>
  </div>
</div>

