 <section class="section games">
  <div class="container">
    <h2 class="section-title">Контакти</h2>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i><strong>КОНТАКТИ І РОЗМІЩЕННЯ</strong></i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <i>+38 048 999 99 99</i>
          <br>
          <i>+38 063 999 99 99</i>
        </p>
        <div>
          <span>e-mail: warehouse-klets@gmail.com</span>
          <br>
          <span>г. Одесса, ул. Пантелемоновская 22</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
