.uk_map {
  position: relative;
}

.odessa-city {
  bottom: 202px;
  right: 488px;;
}

.kyev-city {
  bottom: 500px;
  right: 491px;
}

.lviv-city {
  top: 220px;
  left: 131px;
}

.dnepr-city {
  bottom: 322px;
  right: 241px;
}

.lviv-city, .dnepr-city, .odessa-city, .kyev-city {
  position: absolute;
  width: 5%;
  height: 7%;
  border-radius: 50%;
  box-shadow: 0px 0px 17px 1px #0fa4ff ;
  transition: box-shadow .3s ease-in-out;
  background: #c4e1f17a;
  border: 1px solid #1c86d44a;
}

.odessa-city:after {
  position: absolute;
  content: 'Одеса';
  top: -27px;
}

.kyev-city:after {
  position: absolute;
  content: 'Київ';
  top: -27px;
}

.dnepr-city:after {
  position: absolute;
  content: 'Днепр';
  top: -27px;
}

.lviv-city:after {
  position: absolute;
  content: 'Львів';
  top: -27px;
}

.odessa-city:hover {
  box-shadow: 0px 0px 20px 2px #fcf834bd;
  border: 1px solid #3ec85047;
}

.kyev-city:hover {
  box-shadow: 0px 0px 20px 2px #fcf834bd;
  border: 1px solid #3ec85047;
}

.lviv-city:hover {
  box-shadow: 0px 0px 20px 2px #fcf834bd;
  border: 1px solid #3ec85047;
}

.dnepr-city:hover {
  box-shadow: 0px 0px 20px 2px #fcf834bd;
  border: 1px solid #3ec85047;
}
