<div class="header-container">
  <img style="width: 50px; height: 50px;" [src]="'warehouse-klets.png' | imagePath" alt="warehouse-klets" class="logo" routerLink="/main">
  <div class="header" >
    <p>Warehouse-Klets</p>

  </div>
  <div class="header">
    <nav class="navigation">
      <a routerLink="/main" routerLinkActive="active">Главна</a>
      <a routerLink="/news" routerLinkActive="active">Новини</a>
      <a routerLink="/delivery" routerLinkActive="active">Доставка</a>
      <a routerLink="/about_us" routerLinkActive="active">Про нас</a>
      <a routerLink="/contacts" routerLinkActive="active">Контакти</a>
      <a routerLink="/warehouse" routerLinkActive="active">Склади</a>
    </nav>
    <div style="    display: flex;
    align-items: center;">
      <a *ngIf="isAuth" routerLink="/profile" routerLinkActive="active"><img style="width: 40px;" src="assets/images/profile_icon.png" alt=""></a>
      <button class="logout-btn" *ngIf="isAuth" (click)="logOut()">Вийти</button>
      <button class="login-btn" *ngIf="!isAuth" (click)="logIn()">Увійти</button>
    </div>
  </div>
</div>

