<div class="container">
  <app-notification></app-notification>
  <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="profile" (click)="onEdit()" *ngIf="this.currentUser.userName && this.currentUser.age">
      <h2 class="card-title">Profile</h2>
      <label> Username:</label><br />
      <span><b>{{ this.currentUser.userName }}</b></span><br />
      <label> Email:</label><br />
      <span><b>{{ this.currentUser.email }}</b></span>

      <label> Age:</label><br />
      <span><b>{{ this.currentUser.age }}</b></span>
      <div class="card-action">
        <br />
        <button type="submit" class="modal-action">Edit</button>
        <!-- [disabled]="form.invalid" -->
        <br />
      </div>
    </div>
    <div class="card-content" *ngIf="!this.currentUser.userName || !this.currentUser.age">
      <h2 class="card-title">Profile</h2>
      <div class="input-field">
        <label for="text">Username:</label><br />
        <input placeholder="Name" formControlName="name" id="name" type="text" /><br />
      </div>
      <div class="input-field">
        <label for="email">Email:</label><br />
        <input placeholder="Email" id="email" [value]="enteredEmail" type="email" /><br />
      </div>
      <div class="input-field">
        <label for="age">Age:</label><br />
        <input placeholder="Age" formControlName="age" id="age" type="number" /><br />
      </div>
      <div class="card-action">
        <br />
        <button type="submit" class="modal-action">Save</button>
        <!-- [disabled]="form.invalid" -->
        <br />
      </div>
    </div>
  </form>
</div>
