<div class="container">
  <app-notification></app-notification>
  <form class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="profile" (click)="onEdit()" *ngIf="this.currentUser.userName && this.currentUser.age">
      <h2 class="card-title">Профайл</h2>
      <label> Username:</label><br />
      <span><b>{{ this.currentUser.userName }}</b></span><br />
      <label> Імейл:</label><br />
      <span><b>{{ this.currentUser.email }}</b></span><br />

      <label> Вік:</label><br />
      <span><b>{{ this.currentUser.age }}</b></span>
      <div class="card-action">
        <br />
        <button type="submit" class="modal-action">Редагувати</button>
        <br />
      </div>
    </div>
    <div class="card-content" *ngIf="!this.currentUser.userName || !this.currentUser.age">
      <h2 class="card-title">Профайл</h2>
      <div class="input-field">
        <label for="text">Ім'я:</label><br />
        <input [placeholder]="'Імя' | titlecase" [formControlName]="userProperty.NAME" [id]="userProperty.NAME"
          type="text" /><br />
        <span class="red-text"
          *ngIf="form.get(userProperty.NAME)?.invalid && form.get(userProperty.NAME)?.touched">
          Ім'я дуже коротке!
        </span>
      </div>
      <div class="input-field">
        <label [for]="userProperty.EMAIL">Імейл:</label><br />
        <input [placeholder]="'імейл' | titlecase" [id]="userProperty.EMAIL" [value]="enteredEmail"
          [type]="userProperty.EMAIL" disabled/><br />
      </div>
      <div class="input-field">
        <label [for]="userProperty.AGE">Вік:</label><br />
        <input [placeholder]="'Вік' | titlecase" [formControlName]="userProperty.AGE" [id]="userProperty.AGE"
          type="number" /><br />
        <span class="red-text"
          *ngIf="form.get(userProperty.AGE)?.invalid && form.get(userProperty.AGE)?.touched">
          Введіть вік!
        </span>
      </div>
      <div class="card-action">
        <br />
        <button type="submit" class="modal-action">Зберегти</button>
        <br>
        <span class="red-text" *ngIf="notValid">Введіть дані!</span>
      </div>
    </div>
  </form>
</div>
