<body> <form 
 class="card" 
 [formGroup] = "form"
 (ngSubmit)="onSubmit()"
 >
     <div class="card-content">
         <h2 class="card-title"> Sing in</h2>
        <div class="input-field">
            <label for="email">Email:</label><br>
             
            <input 
            formControlName = "email"
            id="email" 
            type="email"
             ><br>
            <span 
            class="helper-text red-text"
            *ngIf = "form.get('email')?.invalid && form.get('email')?.touched"
            > 
               Перевірте введений Email
            </span>
        </div> 
        <div class="input-field">
            <label for="password">Password:</label><br>
            <input 
            formControlName = "password"
            id="password" 
            type="password" 
            ><br>
            <span 
            class="helper-text red-text"
            *ngIf = "form.get('password')?.invalid && form.get('password')?.touched"
            > 
               Перевірте введений пароль
            </span>
        </div>
     </div>
     <div class="card-action"><br>
         <button 
         type="submit"
         class="modal-action"
         [disabled]="form.invalid"
         
         >Sing in</button>
         <br>
         <span
         *ngIf = "check"
         > ви успішно ввели дані</span>
         <span class="red-text"
         *ngIf = "noncheck&&!check"
         > перевірте введені дані</span>
         <!-- <span
         *ngIf = "!check"
         > перевірте введені дані </span> -->
     </div>
 </form>
</body>