<section class="section games">
  <div class="container">
    <h2 class="section-title">Про нас</h2>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i><strong>Найбільша база складів України</strong></i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p><i>Серед тисяч пропозицій ви знайдете склад, який відповідає потребам бізнесу. Тепер не потрібно шукати
          крихти інформації на сайтах орендодавців, безкоштовних дошках оголошення. Вкажіть критерії пошуку та отримайте
          список релевантних пропозицій.</i>
        </p>
        <img src="/assets/images/a1.png" alt="">
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong><i>Усі провайдери на одній платформі</i></strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Логістичні провайдери, фулфілмент-оператори, брокери, дистриб'ютори на одній платформі. Якщо ви хочете
          скоротити витрати та передати логістику на аутсорсинг.
        </p>
        <img src="/assets/images/a2.png" alt="">
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong><i>Унікальний сервіс для керування складськими операціями On-Demand</i></strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Команда Warehouse-klets розробила та запустила перший український сервіс, де можна передати складські операції
          логістичному партнеру та керувати ними онлайн. Вам не потрібно інтегрувати системи із 3PL. Зареєструйтесь та
          отримайте повний доступ до управління операціями на складі.
        </p>
        <img src="/assets/images/a3.png" alt="">
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
