 <section class="section games">
  <div class="container">
    <h2 class="section-title">Склади</h2>
    <div class="uk_map">
      <a class="odessa-city" routerLink="/odessa-warehouse" routerLinkActive="active"></a>
      <a class="kyev-city" routerLink="/kyew-warehouse" routerLinkActive="active"></a>
      <a class="lviv-city" routerLink="/lviv-warehouse" routerLinkActive="active"></a>
      <a class="dnepr-city" routerLink="/dnepr-warehouse" routerLinkActive="active"></a>
      <img src="assets/images/map_ukaine.png" alt="" style="width: 100%;">
    </div>
  </div>
</section>
