<section class="section games">
  <div style="background: #0577BD" class="container">
    <app-notification></app-notification>
    <div style="display: flex;
    justify-content: center;">
      <h2 style="font-size: 34px; color: white" class="section-title">Ваш цифровий складскький помічник</h2>
      <img src="assets/images/warehouse-1.png" alt="">
    </div>
    <button
      style="background-color: #76DA00;
      color: #FFFFFF;
      border-style: solid;
      border-width: 2px 2px 2px 2px;
      border-color: #76DA00;
      border-radius: 0px 0px 0px 0px;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.44em;
      padding: 19px 52px 19px 52px;
      cursor: pointer"
      (click)="openForm()"
    >
      Підібрати послуги
    </button>
  </div>
</section>
