<section class="section games">
  <div class="container">
    <h2 class="section-title">Доставка</h2>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i><strong>Коробки</strong></i>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p><i>Размеры для любых нужд</i>
          <br>
          <br>
          <img src="assets/images/box.png" alt="">

        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong><i>Доставка</i></strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <i>Доставка</i>
          Быстро и надежно перевезем ваши вещи
        </p>
        <img src="/assets/images/car.png" alt="">
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong><i>Стеллажи</i></strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Все по полочкам
        </p>
        <img src="/assets/images/stel.png" alt="">
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong><i>Упаковочные материалы</i></strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Ни одной царапинки
        </p>
        <img src="/assets/images/ser.png" alt="">
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
